/* Write your global styles here, in PostCSS syntax */

@font-face {
  font-family: 'treasure-map';
  src: url(./fonts/treasure-map.ttf);
}

@tailwind base;



:root {
  font-family: 'treasure-map';
  font-size: 1.5em;
}

/* width */
::-webkit-scrollbar {
  width: .2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e5be007f;
  border-radius: .07rem;
}

html, body, #svelte {
  height: 100%;
}

@tailwind components;

@tailwind utilities;
